---
name: Release packaging

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run tests
        run: make test

      - name: Build packages
        run: make package-all

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: unitshell-${{ github.sha }}-${{ hashFiles('dist/**') }}
          path: dist/**
          if-no-files-found: error

  push:
    if: |
      contains(fromJson('["push", "workflow_dispatch"]'), github.event_name) &&
      startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: artifacts

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          file: artifacts/unitshell-*-*/unitshell_*.*

# vim: set sw=2 sts=2 et : -->
